<div >
  <% if !notice.nil? %>
    <p style="color: green"><%= notice %></p>
  <% end %>
  <h1>Products</h1>
  <div id="stores_products" class="row row-cols-1 row-cols-md-2 g-4">
    <% @products.each do |product| %>
      <div class="col p-4">
        <div class="card">
          <%= image_tag product.poster, class: "card-img-top", alt: "#{product.name}"  %>
          <div class="card-body">
            <h5 class="card-title">
              <%= product.name %>
            </h5>
            <p class="card-text">
              <%= sanitize(product.description) %>
            </p>
            <p>
              <%= number_to_currency(product.price) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
