<!DOCTYPE html>
<html>
  <head>
    <title>T-POP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <%= render 'shared/store_navigation' %>
    <%= render 'shared/flash' %>
    <main class="container-fluid d-flex flex-nowrap">
      <% if @cart and not @cart.line_items.empty? %>
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
          <div id="cart" class="bg-white rounded p-2">
            <%= render @cart %>
          </div>
        </div>
      </div>
      <div class="b-example-divider b-example-vr"></div>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>